<% provide(:title, 'About Us') %>
<h1>Our Research</h1>
<p>
Photosynthesis is essential for life on Earth. It starts with the collection of solar energy by the protein-bound chlorophyll and carotenoid pigments of light-harvesting (LH) complexes, which absorb and transfer this energy to reaction centres (RCs) where it is trapped, before conversion to a form of energy useful for the cell. We exploit the relative simplicity of photosynthetic bacteria to study the biosynthesis of these pigments, and the assembly, structure and membrane organisation of LH and RC pigment-protein complexes. We use a variety of approaches - molecular genetics, protein engineering, atomic force microscopy as well as structural and spectroscopic methods - for our studies of the biogenesis, structure and function of photosynthetic membranes. In addition we are fortunate to have collaborations with many scientists in Sheffield, Europe, the USA and Japan <br> <br>
<hr>
<h2 id="biosynth">Chlorophyll biosynthesis in bacteria and plants</h2>
Chlorophyll (Chl) biosynthesis is the most productive biochemical pathway on Earth, synthesising billions of tonnes of Chl per annum on land and in the oceans. We have cloned and sequenced many of the genes for this biosynthetic pathway, from Rhodobacter sphaeroides, the cyanobacterium Synechocystis, and from the model plant Arabidopsis thaliana and have been successful in overproducing many of them in an active form in E. coli. We study the enzymology and regulation of this pathway; in particular, we are characterising the mechanism of the first committed step of chlorophyll biosynthesis, magnesium chelatase, as well as the enzyme that catalyses the light-driven step in the pathway, protochlorophyllide reductase <br> <br>

<div class="center">
    <%= link_to image_tag("mg-chelatase.jpg", alt: "Model of a photosynthetic vesicle", size: "600x200" ), 'http://www.shef.ac.uk/mbb/staff/hunter' %>                                      
</div>                                                                                                                                                                            
<hr>
<h2 id="prot_eng">Protein engineering, biochemical and structural studies of light harvesting and reaction centre complexes.</h2>
We have developed a versatile system for the mutagenesis and expression of genetically altered photosynthetic complexes, which allows us to examine protein-protein and pigment-protein interactions, such as those that establish hydrogen-bonding networks that tune the light-absorbing and energy transferring properties of bacterial light-harvesting (LH) complexes. In our biochemical work we purify the LH2, LH1 and RC-LH1 and RC-LH1-PufX complexes of Rhodobacter sphaeroides and use crystallographic and single particle methods, in collaboration with Professor Per Bullough, to study their internal structure and molecular shape. The V-shape of the RC-LH1-PufX dimer complex is a striking example of a protein that imposes curvature on a cell membrane, which optimises light absorption.
<br> <br>

<div class="center">
  <%= link_to image_tag("PS1-LH1.jpg", alt: "Model of a photosynthetic vesicle", size: "600x200" ), 'http://www.shef.ac.uk/mbb/staff/hunter' %>
</div>                                                                                                                                                                               
<hr>
<h2 id="membs">Assembly and organisation of bacterial photosynthetic membranes</h2>
Photosynthetic organisms increase the surface area for light absorption and photochemistry by elaborating internal membranes into lamellar, tubular or spherical structures. Membrane development establishes the architectures that harvest, transduce and store solar energy. We are using a combination of atomic force microscopy and molecular genetics to study the spatial organisation of the bacterial photosynthetic apparatus, and the strategies employed for efficient harvesting and trapping of solar energy by photosynthetic bacteria.
<br> <br>

<div class="center">
<%= link_to image_tag("Rsp.jpg", alt: "Model of a photosynthetic vesicle", size: "600x200" ), 'http://www.shef.ac.uk/mbb/staff/hunter' %>
</div>

<hr>
<h2 id="nano">Bionanotechnology of light harvesting complexes.</h2>
Atomic-level structural models of whole membrane assemblies have now been constructed by Klaus Schulten and Melih Sener at the Beckman Institute, Illinois, USA, using a combination of crystallographic, AFM and electron microscopy data allied to computational modeling. Such models are starting to address the collective behaviour of whole membrane assemblies, to make predictions of the energy transfer and trapping behaviour of large-scale arrays, and to identify desirable design motifs for artificial photosynthetic systems. New surface chemistries and nanopatterning methods are being developed in collaboration with Professor Graham Leggett (Sheffield) and Dr Cees Otto (University of Twente, the Netherlands) to facilitate the construction of innovative architectures for coupled energy transfer and trapping. Nanometre-scale patterns of photosynthetic complexes have been fabricated on self-assembled monolayers deposited on either gold or glass using several lithographic methods. Such artificial light-harvesting arrays will advance our understanding of natural energy-converting systems, and could guide the design and production of proof-of-principle devices for biomimetic systems to capture, convert and store solar energy.


<div class="center">
  <%= link_to image_tag("nanoarray.jpg", alt: "Model of a photosynthetic vesicle", size: "600x200" ), 'http://www.shef.ac.uk/mbb/staff/hunter' %>
</div>

</p>
</html>
