<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<h2>The postal address for the Department is: </h2>                                                                                                                       
<p align="center">
Department of Molecular Biology and Biotechnology, <br>
University of Sheffield, <br>
Firth Court, Western Bank, <br>
Sheffield S10 2TN, United Kingdom.<br>
</p>
<hr>
<h2>Contact Prof C N Hunter FRS - Krebs Chair in Biochemistry</h2>
<p align="center">Sheffield 222 4191 <br>
C.N.Hunter@sheffield.ac.uk
</p>
<hr>

<div class="users">
  <% @public_users.each do |user| %>                                                             
    <div class="row">
      <div class="span1">
        <%= gravatar_for user %>
      </div>
      <div class="span5">
        <%= user.name %>
        <br>
        <%= user.email %> 
      </div>
    </div>
    <hr>
  <% end %>
</div>

