<h1>
  Protocols
</h1>
<div class="users">
  <% @public_protocols.each do |protocol| %>
    <div class="row">
      <div class="span1">
        <%= gravatar_for protocol.user %>
      </div>
      <div class="span3">
        <%= link_to protocol.title, "/protocols/public/#{protocol.id}"  %>
        <br>
        by <%= link_to protocol.user.name, contact_path %>
      </div>
      <div class="span8">                                                                                     
        <%= simple_format(truncate(protocol.content), :length => 250, :separator => ' ' ) %>
      </div>
    </div>
    <hr>
  <% end %>
</div>

