<div class="row">
  <aside class="span4">
  <section>
  <%= render 'shared/user_info_orders' %>
  </section>
  <section>
  <%= render 'shared/order_form' %>
  </section>
  </aside>
  <div class="span8">
    <h3>Orders</h3>
    <%= render 'shared/order_feed' %>
  </div>
</div>
