<li>                                                                                                                     
<span class="content"><%= link_to protocol_feed_item.title, "protocols/#{protocol_feed_item.id}" %></span>
<br><br>
<span class="content"><%= simple_format(truncate(protocol_feed_item.content), :length => 10, :separator => ' ' ) %></span>
<span class="timestamp">
  Posted <%= time_ago_in_words(protocol.created_at) %> ago.
</span>
<% if current_user?(protocol.user) %>  
  <%= link_to "delete", protocol, method: :delete,
    data: { confirm: "You sure?" },
    title: protocol.title %>
  <% end %>
  </li>
