<div class="row">
  <aside class="span4">
  <section>
  <%= render 'shared/user_info_orders' %>
  </section>
  <section>
  <%= render 'shared/protocol_form' %>
  </section>
  </aside>
  <div class="span8">
    <h3>Protocols</h3>
    <%= render 'shared/all_protocol_feed' %>
  </div>
</div>   
